body{
    background-image: url(image.jpg);
    background-size: 2000px 1500px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
/* layoutBG */
.layout{
    background-color: rgba(136, 136, 136, 0.548);
    width: 1950px;
    height: 1450px;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 50px;
}
/* layout0 */
.layout0{
    border: 0px solid red;
    border-radius: 10px;
    width: 1700px;
    height: 100px;
    margin-left: 150px;
    padding: 30px;
}
/* Logo */
.logo {
    width: 200px;
    height: 100px;
    left: 1px;
    position: relative;
    display: inline;
}
/* box&text good morning */
.boxGM{
    background-color: rgba(255, 255, 255, 0.39);
    width: 450px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 350px;
    padding: 20px;
    border-radius: 40px;
    position: absolute;
    top: 40px;           
    left: 200px; 
    font-size: 40px;
}

/* box SMS */
.boxMG{
    background-color: rgba(255, 255, 255, 0.486);
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1400px;
    border-radius: 40px;
    position: absolute;
    top: 70px;           
    left: 200px;
    font-size: 30px; 
}
/* box Notification  */
.boxMG1{
    background-color: rgba(255, 255, 255, 0.486);
    width: 90px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1400px;
    border-radius: 40px;
    position: absolute;
    top: 70px;           
    left: 300px;
    font-size: 30px; 
}
/* box Profile  */
.boxMG2{
    background-color: rgba(255, 255, 255, 0.486);
    width: 135px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1400px;
    border-radius: 40px;
    position: absolute;
    top: 3px;           
    right: -150px; 
}
/* icon SMS & Notification */
.icon1{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 0px;
    position: absolute;
    right: 30px;
}
/* icon Profile */
.icon2{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-left: 20px;

}

/* layout1 */
.layout1{
    position: relative;
    border: 0px solid black;
    width: 500px;
    height: 1460px;
}

.boxlogo{
    background-color: rgb(63, 60, 60);
    width: 110px;
    height: 110px;
    border-radius: 80px 80px;
    position: relative;
}
/* bg box menu */
.box1{
    background-color: rgba(255, 255, 255, 0.425);
    width: 400px;
    height: 1240px;
    border-radius: 30px;
    position: relative;
    padding: 10px;
    margin-top: 10px;
    margin-left: 30px;
}
.menu{
    display: block;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    position: relative;
}
/* bg menu */
.boxmenu{
    position: relative;
    background-color: rgba(0, 255, 149, 0.507);
    border-radius: 15px;
    width: 275px;
    height: 80px;    
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 50px 60px 5px;
}
.boxmenuoff{
     position: relative;
    background-color: rgba(255, 238, 0, 0.623);
    border-radius: 15px;
    width: 275px;
    height: 80px;    
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 350px 60px 5px;
}

/* hover */
.boxmenu:hover{
    background-color: rgba(255, 255, 255, 0.589);
}
.boxmenuoff:hover{
    background-color: rgb(25, 0, 255);
}
/* link menu */
a{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    left: 85px;
    z-index: 1;
}
/* text red Log Out */
.textred{
    position: relative;
    text-decoration: none;
    color: rgb(224, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    left: 85px;
    z-index: 1;
}
/* icon */
.material-symbols-outlined{
    position:absolute;
    left: 30px;
    z-index: 2;
    font-size: 40px;
}
/* Layout2 */
.layout2{
    background-color: aqua;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline;
    border: 2px solid black;
}
.box2{
    background-color: rgb(182, 8, 31);
    width: 300px;
    height: 300px;
    border: 2px solid black;
    position: relative;
    top: 0;
    left: 110%;
    color: black;
    padding: 10px;
    z-index: 1000;
   
}
/* layout costomer */
.layout3{
     position: absolute;
    top: 200px;           
    left: 200px;
    border: 0px solid red;
    width: 1450px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: left;
    left: 500px;
}
.boxiteam1{
    background-color: rgba(255, 255, 255, 0.486);
    width: 500px;
    height: 200px;
    display: flex;
    align-items: top;
    justify-content: left;
    border-radius: 40px;
    margin: 20px;
}
.boxiteam2{
    background-color: rgba(255, 255, 255, 0.486);
    width: 500px;
    height: 200px;
    display: flex;
    align-items: top;
    justify-content: left;
    border-radius: 40px;
    margin: 20px;
}
.boxiteam3{
    background-color: rgba(255, 255, 255, 0.486);
    width: 500px;
    height: 200px;
    display: flex;
    align-items: top;
    justify-content: left;
    border-radius: 40px;
    margin: 20px;
}
/* CUSTOMERS */
.text-iteam{
    font-size: 40px;
    font-weight: bold;
    color: purple;
    margin-left: 40px;
    margin-top: 20px;
}
.text-iteam1{
    font-size: 40px;
    font-weight: bold;
    color: purple;
    margin-left: 30px;
    margin-top: 20px; 
}
.text-iteam1{
    font-size: 40px;
    font-weight: bold;
    color: purple;
    margin-left: -250px;
    margin-top: 100px;
    position: relative;
    display: flex; 
}
/* INCOMES */
.text-iteam2{
    font-size: 50px;
    font-weight: bold;
    color: purple;
    margin-left: -200px;
    margin-top: 100px;
    position: relative;
    display: flex; 
}
/* PRODUCT SOLD */
.text-iteam3{
    font-size: 35px;
    font-weight: bold;
    color: purple;
    margin-left: 15px;
    margin-top: 20px;
    position: relative;
    display: flex; 
}
.text-iteam3-3{
    font-size: 50px;
    font-weight: bold;
    color: purple;
    margin-left: 18px;
    margin-top: 100px;
    position: absolute;
    display: flex; 
}
/* icon iteam */
.boxiteam1 .material-symbols-outlined{
    position: relative;
    display: flex;
    margin-left: 100px;
    margin-top: 60px;
    font-size: 85px;
}
.boxiteam2 .material-symbols-outlined{
    position: relative;
    display: flex;
    margin-left: 90px;
    margin-top: 60px;
    font-size: 95px;
}
.boxiteam3 .material-symbols-outlined{
    position: relative;
    display: flex;
    margin-left: 20px;
    margin-top: 80px;
    font-size: 85px;
}
/* layout flow */
.layout4{
    position: absolute;
    top: 530px;           
    left: 500px;
    border: 0px solid red;
    width: 1450px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.bgflow{
    background-color: rgba(255, 255, 255, 0.486);
    width: 1400px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 40px;
    margin: 20px;
}
.chart-wrapper {
    display: flex;
    max-width: 130px;
    margin-left: -22px;
    /* background: white; */
    border-radius: 8px;
    border: 1px solid #18171711;
    padding: 20px;
}
        
.y-axis-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    padding-right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #810606;
}
        
.y-axis-labels div {
    height: 1px;
    position: relative;
    top: -10px;
}
.line-chart {
    width: 950px;
    height: 440px;
    position: absolute;
    margin-top: -450px;
    margin-left: 150px;
    border: 1px solid #18171711;
}
.mont-line {
    display: flex;
    position: relative;
    justify-content: space-between;
    max-width: 930px;
    margin-top: 5px;
    padding-left: 155px;
    font-size: 30px;
    font-weight: bold;
    color: #0401c2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




.value{
    /* background-color: aqua; */
    /* border: 1px solid black; */
    width: 250px;
    height: 500px;
    font-size: 30px;
    left: 10px;
}
.title{
    position: relative;
    left: 30px;
    color: blue;
}
.August{
    position: relative;
    top: 390px;
    left: 30px;
    color: blue;
}

.graph{
   width: 1250px;
   height: 500px;
   /* border: 1px solid red; */

}


/* layout order */
.layout5{
    position: absolute;
    top: 1010px;           
    left: 205px;
    border: 0px solid red;
    width: 1450px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 500px;
    border: 0px solid black;
}
.bgorder{
    background-color: rgba(255, 255, 255, 0.486);
    width: 1400px;
    height: 490px;;
    display: flex;
    align-items: top;
    justify-content: center;
    border-radius: 40px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
}
/* header-table */
.header-table{
    color: rgb(1, 11, 151);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}
/* table */
table{
    width: 1350px;
    height: 210px;
    border: 2px solid rgb(202, 198, 198);
    border-collapse: collapse;
    background-color: aliceblue;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin-top: -5px;
    margin-left: 5px;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: blue;
}
.font-size{
    font-size: 35px;
    font-weight: none;
}
.size{
    font-size: 35px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
.center{
     text-align: center;
}
.left{
    text-align: left;
}
.icone{
    color: orange;
    font-size: 20px;
    vertical-align: middle;
    margin-left: -250px;
}
.icond{
    color: orange;
    font-size: 20px;
    vertical-align: middle;
;
    margin-left: -50px;
}
.red{
    color: red;
}
.green{
    color: rgb(11, 196, 11);
}